<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prachi Expert | Software Engineer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Prachi Expert</h1>
    <h2>Software Engineer</h2>

    <p>Premium PDF Notes</p>

    <a href="/payment">
    <a href="/payment">
    <button>Buy Now</button>
</a>
</a>

</div>

</body>
</html>