{% extends "base.html" %}

{% block title %}{{ subject }}{% endblock %}

{% block content %}

<div class="container">

    <h1>{{ subject }}</h1>

    <div class="units">

        <a href="/subject/web technology/unit/1" class="card">Unit 1</a>

        <a href="/subject/web technology/unit/2" class="card">Unit 2</a>

        <a href="/subject/web technology/unit/3" class="card">Unit 3</a>

        <a href="/subject/web technology/unit/4" class="card">Unit 4</a>

        <a href="/subject/web technology/unit/5" class="card">Unit 5</a>

        <a href="#" class="card full">
            ⭐ Full Notes
        </a>

    </div>

</div>

{% endblock %}